@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-900 font-mono text-white;
  }
}

@layer utilities {
  .font-dancing-script {
    font-family: "Indie Flower", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
